.input {
  width: 272px;
  height: 40px;
  font-size: 20px;
  display: inline-block; /* Дозволяє використовувати vertical-align */
  vertical-align: middle; /* Вирівнює по вертикалі */
}

.button {
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-size: 20px;
  display: inline-block; /* Дозволяє використовувати vertical-align */
  vertical-align: middle; /* Вирівнює по вертикалі */

  text-align: center;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.timer {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
}
